#rcmContextMenu
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  display: none;
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  padding: 3px;
  opacity: 0.9;
  filter:alpha(opacity=90);
  z-index: 900;
}

#rcmContextMenu li.conmentitle
{
  padding: 2px 8px 3px 25px;
}

#rcmContextMenu li a
{
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 25px;
}

#rcmContextMenu li.disabled a
{
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 25px;
  color: #AAA;
  cursor: default;
}

#rcmContextMenu li.disabled a:hover
{
  background-color: transparent;
}

#rcmContextMenu li
{
  min-width: auto;
  width: auto !important;
  width: auto;
  background-image: url(pipe.png);
  background-repeat: repeat-y;
}

#rcmContextMenu .conmensep
{
  border-top: solid 1px #CCC;
  min-width: auto;
  width: auto !important;
  width: auto;
  margin-left: 22px;
}