/**
 * ContextMenu plugin styles
 */

.contextRow td,
#mailboxlist li.contextRow,
#directorylistbox li.contextRow
{
  background-color: #EEEEEE;
}

#mailboxlist li.selected,
#directorylistbox li.selected
{
  background-color: #929292;
}

div.contextmenu li a.active:hover
{
  color: #fff;
}

div.contextmenu a {
  outline: 0;
  padding: 0 !important;
}

div.contextmenu ul li a span {
  display: block;
  padding: 1px 12px 3px 28px;
}

div.contextmenu ul li a span.icon
{
  background: url(images/contexticons.png) no-repeat 0 20px;
}

div.contextmenu ul li.submenu a span.icon
{
  background-position: right 0;
  padding-right: 15px;
}

div.contextmenu ul li a.reply span.icon
{
  background-position: 7px -119px;
}

div.contextmenu ul li a.delete span.icon
{
  background-position: 7px -187px;
}

div.contextmenu ul li a.readlink span.icon
{
  background-position: 7px -85px;
}

div.contextmenu ul li a.unreadlink span.icon
{
  background-position: 7px -136px;
}
div.contextmenu ul li a.flaggedlink span.icon
{
  background-position: 7px -170px;
}

div.contextmenu ul li a.unflaggedlink span.icon
{
  background-position: 7px -153px;
}

div.contextmenu ul li a.compose span.icon
{
  background-position: 8px -237px;
}

#rcm_messagemenu ul li a span.icon
{
  background: url(images/messageactions.png) no-repeat 5px 20px;
}

#rcm_messagemenu ul li a.printlink span.icon
{
  background-position: 5px 1px;
}

#rcm_messagemenu ul li a.downloadlink span.icon
{
  background-position: 5px -17px;
}

#rcm_messagemenu ul li a.editlink span.icon
{
  background-position: 5px -70px;
}

#rcm_messagemenu ul li a.movelink span.icon
{
  background-position: 5px -161px;
}

#rcm_messagemenu ul li a.copylink span.icon
{
  background-position: 5px -143px;
}

#rcm_messagemenu ul li a.sourcelink span.icon
{
  background-position: 5px -35px;
}

#rcm_messagemenu ul li a.openlink span.icon
{
  background-position: 5px -52px;
}

/*** address book selector ***/

#addressbook-selector li a
{
  padding: 0;
}

#addressbook-selector li a span
{
  background: url(images/contexticons.png) no-repeat 0 20px;
  display: block;
  height: 15px;
  min-height: 14px;
  padding: 2px 4px 2px 28px;
  overflow: hidden;
  max-width: 120px;
  text-overflow: ellipsis;
}

#addressbook-selector li a.active:hover span
{
  color: white;
}

#addressbook-selector li a.addressbook span
{
  background-position: 5px -306px;
}

#addressbook-selector li a.contactgroup span
{
  background-position: 5px -343px;
}